body, html {
    height: 100%;
    background-color: #333;
    //background: url('../../assets/bg-marvel.jpg');
}
.box-button{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 300px;
    background: url('../../assets/bg-marvel.jpg') no-repeat;
    background-position: center;
    background-size: contain;

    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 600px) {
    .box-button{
        height: 170px;
    }
  }